@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
} 
body{
  font-family: 'Roboto', sans-serif;
  z-index: -1;
  overflow-x: hidden;
}
@font-face {
  font-family: 'Ultramagnetic';
  src: url(../Ultramagnetic/Ultramagnetic\ Regular.ttf);
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
/* =============
NAV CSS STRT
================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
header {
  background: #0C1B38;
  border-bottom: 20px solid #78C8ED;
}
nav{
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 58px 38px;
  
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}
nav ul li{
  margin: 7px -4px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  font-family: 'Ultramagnetic';
}

nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: absolute;
    top: 80px;
    left: -100%;
    background: #111;
    height: 172vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 5;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 2px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}
.nav-icon-2{
  font-size: 35px;
  color: #009CDC;
}


/* =================
Banner css
===================== */
.banner{
  /* background-image: url('/img/image\ hebergement\ mutualisé.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right; */
}
.banner-info {
  width: 46%;
  z-index: 1;
}

section#container {
    display: flex;
    padding: 50px 92px;
}

.banner-list ul {
  width: 359px;
}

.banner-list ul li {
  margin: 25px 0px;
  font-size: 17px;
  font-family: 'Roboto';
  color: #333333;
}
.banner-info-inner {
  display: flex;
}

.banner-info-inner h1 {
  font-size: 50px;
  margin: -9px 40px;
  font-family: 'Ultramagnetic';
}

.banner-img img {
  width: 95%;
}

.banner-img {
  flex-basis: 71%;
}
div#extra-height {
  height: 80% !important;
}
.banner-main-info {
  display: flex;
}
.banner-info-text {
  width: 76%;
  margin-top: 10px;
}

.banner-info-text p {
  font-family: 'Roboto';
  line-height: 26px;
}

.banner-info-list {
  margin-top: 39px;
}

.banner-info-list ul li a {
  font-family: 'Ultramagnetic';
  font-size: 20px;
  line-height: 36px;
  color: #009CDC;
}
.banner-text p {
  color: #333333;
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 25px;
}

.banner-text {
  margin-top: 45px;
}
.banner-text p {
  color: #333333;
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 25px;
}

.banner-text {
  margin-top: 45px;
}
.banner-info-inner img {
  width: 128px;
}
.banner-list {
  margin-top: 75px;
  margin-left: 10px;
}

.banner-list ul li a {
  color: #009CDC;
  font-family: 'Ultramagnetic';
  line-height: 35px;
}
.bannner_heading {
  width: 100px;
  margin: -2px 37px;
}
/* ==============
Pricing table css
=====================*/
.pricing-table {
  width: 295px;
  background: #F3F6FA;
  padding: 32px 30px;
  margin-right: 64px;
  position: relative;
  margin: 25px 30px;
}

.pricing-table .card-heading {
  font-size: 18px;
  margin: 20px 0px;
  font-family: 'Ultramagnetic';
}

 .card-pricing {
  background: #78C8ED;
  padding: 12px 9px;
  border-radius: 19px;
  color: #333333;
  font-size: 20px;
}
 .card-pricing span {
  font-size: 16px;
}

.pricing-table ul.card-list {
  margin-top: 20px;
}

.pricing-table ul.card-list li {
  font-size: 14px;
  color: #33333380;
  font-family: 'Roboto';
  line-height: 29px;
}

button.card-botton {
  border: none;
  background: #78c8ed;
  padding: 12px 85px;
  color: white;
  font-family: 'Ultramagnetic';
  border-radius: 10px;
  margin-top: 35px;
}
.pricing-table-2 {
  width: 335px;
  background: #f3f6fa;
  padding: 32px 30px;
  height: 56vh !important;
  position: relative;
}

.pricing-table-2 .card-heading {
  font-size: 15px;
  margin-bottom: 30px;
}

.testimonial {
  width: 351px;
  margin-top: 150px;
}

.testimonial-inner {
  display: flex;
}

.testimonial-img {
  margin: 72px 28px;
}
.pricing-btn button {
  border: none;
  padding: 9px 10px;
  color: white;
  font-family: 'Ultramagnetic';
  border-radius: 12px;
}
.first-card .card-pricing h1 {
  font-size: 39px;
  font-family: 'Ultramagnetic';
}
.first-card .card-pricing h1 {
  font-size: 39px;
  font-family: 'Ultramagnetic';
}



.pricing-btn {
  position: absolute;
  top: -30px;
  z-index: -1;
}

.testimonial-text h3 {
  font-family: 'Roboto';
  color: #78C8ED;
  margin-bottom: 17px;
}

.testimonial-text h1 {
  font-family: 'Ultramagnetic';
  font-size: 28px;
  margin-bottom: 14px;
}
.princing-section {
  display: flex;
  padding: 100px 71px;
  flex-wrap: wrap;
}

section.banner {
  padding: 100px 100px;
}
/* ==============
About css end
===================*/



footer {
  background: url("../img/footer-banner.png");
  padding: 94px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}


.footer-info {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 70px;
}
.footer-info:before{
  content: "";
  position: absolute;
  width: 84%;
  height: 1px;
  background-color: #767474;
  left: 7%;
  bottom: -40px;
}
.footer-first-item {
  margin: -22px 105px;
  flex-basis: 25%;
}


.footer-item ul li a {
  color: white;
  font-size: 13px;
  font-family: 'Roboto';
  line-height: 30px;
}

.footer-item ul li {
  margin: 1px 19px;
}
.second-first-item {
  flex-basis: 25%;
}

.third-first-item {
  flex-basis: 25%;
  margin-top: 50px;
}

.forth-first-item {
  flex-basis: 20%;
}
.forth-first-item ul {
  display: flex;
}
.footer-logo a {
  color: #78C8ED;
  margin: 0px 16px;
}
.footer-logo {
  margin-bottom: 39px;
}
.copyright-text {
  display: flex;
  justify-content: space-around;
}

.copyright-text p {
  font-family: 'Ultramagnetic';
}